<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="link.reallth.usermatchbackend.mapper.TeamMapper">

    <resultMap id="BaseResultMap" type="link.reallth.usermatchbackend.model.po.Team">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="teamName" column="team_name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="password" column="passwd" jdbcType="VARCHAR"/>
            <result property="maxUser" column="max_user" jdbcType="INTEGER"/>
            <result property="expireTime" column="expire_time" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="deleted" column="deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,team_name,description,
        passwd,max_user,expire_time,
        status,deleted,create_time,
        update_time
    </sql>
</mapper>
